torch==2.8.0
lpips
omegaconf
transformers
safetensors
accelerate==0.33.0
imageio[ffmpeg]
PyMCubes
trimesh
megfile
opencv-python
optimum[onnxruntime-gpu]
rembg[cpu,cli]
httpx[socks]
tensorboard
torcheval==0.0.7
wandb
torchmetrics==1.4.0
